body { font-family:Arial, Helvetica, Sans-Serif; font-size:0.8em;}
#report { border-collapse:collapse;}
#report h4 { margin:0px; padding:0px;}
#report img { float:right;}
#report ul { margin:10px 0 10px 40px; padding:0px;}
#report th { background:#C4E5BA url(images/jex-bg_header.png) repeat-x scroll center left; color:#fff; padding:7px 15px; text-align:left;}
#report td { background:#9BE0B7 none repeat-x scroll center left; color:#000; padding:7px 15px; }
#report tr.odd td { background:#fff url(images/jex-bg_row.png) repeat-x scroll center left; cursor:pointer; }
#report div.arrow { background:transparent url(images/jex-arrows.png) no-repeat scroll 0px -16px; width:16px; height:16px; display:block;}
#report div.up { background-position:0px 0px;}
